<%= form_with model: [ :admin, @genre ], local: true do |f| %>
<h3>ジャンル編集</h3>
  		<table class='table'>
    		
          <tr>
            <td class="form-edit">
              <%= f.label :name, "ジャンル名" %>
              <%= f.text_field :name %>
            </td>
            <td class="form-edit">
              <%= f.submit "変更を保存", class: "btn btn-success" %>
            </td>
          </tr>
      </table>
  </div>
</div>
<% end %>